<section class="section-card-ybt">
  <%= simple_form_for(@match) do |f| %>
    <div class="form-card">
      <%= f.error_notification %>
      <% if f.object.errors[:base].present? %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence %>
      <% end %>

      <div>
        <%= f.input :match_date, label: 'Data', input_html: {class: "rounded-3"} %>
      </div>

      <section class="form-btns">
          <%= f.submit "Salvar", class: "form-btns-inputs me-2", name: "confirmar" %>
          <%= link_to "Voltar", root_path %>
      </div>
    </div>
  <% end %>
</section>
