<%= render 'shared/title' %>

<div class="d-flex justify-content-between mt-2">
  <%= link_to "Deletar e recomeçar", delete_all_data_path, data: { turbo_method: :delete, turbo_confirm: "Deletar tudo e começar do zero. Você tem certeza?" }, class: "opt-color" %>
  <div class="d-flex menu-options flex-grow-1">
    <% if controller_name == "pages" %>
      <%= link_to 'Rankings', root_path, id: "menu-one" %>
      <%= link_to 'Partidas', matches_path %>
      <%= link_to 'Jogadores', players_path %>
    <% elsif controller_name == "matches" %>
      <%= link_to 'Rankings', root_path %>
      <%= link_to 'Partidas', matches_path, id: "menu-two" %>
      <%= link_to 'Jogadores', players_path %>
    <% else %>
      <%= link_to 'Rankings', root_path %>
      <%= link_to 'Partidas', matches_path %>
      <%= link_to 'Jogadores', players_path, id: "menu-three" %>
    <% end %>
  </div>

  <% if Match.count >= 1 %>
    <%= link_to "Exportar dados", export_data_path, class: "opt-color" %>
  <% else %>
    <p class="text-decoration-line-through text-warning">Exportar dados</p>
  <% end %>
</div>

<hr>

<% if controller_name == "pages" %>
  <div class="d-flex d-flex menu-options-h4">
    <h4 class="m-op" data-value="1" data-action="click->sections-home#show">Ranking Geral</h4>
    <h4 class="m-op" data-value="2" data-action="click->sections-home#show">Ranking Feminino</h4>
  </div>
<% end %>
