<%= simple_form_for [@match, @play] do |f| %>
  <h3>Jogadores</h3>

  <div>
    <%= f.input :games_won_dupla1, label: "Games Ganhos - Dupla 1", input_html: { maxlength: "1"} %>
  </div>

  <div>
    <%= f.input :games_won_dupla2, label: "Games Ganhos - Dupla 2", input_html: { maxlength: "1"} %>
  </div>

  <%= f.fields_for :play_players do |play_player_fields| %>
    <div class="player-fields">
      <div>
        <%= play_player_fields.input :player_id, collection: Player.all, label_method: :name, value_method: :id, label: "Jogador", prompt: "Selecione um Jogador" %>
      </div>
    </div>
  <% end %>

  <%= f.submit "Salvar Play" %>
  <%= link_to "Back", match_path(@match), class: "todo-btns__btn shadow-sm" %>
<% end %>
