<section class="section-card-ybt">
  <%= simple_form_for(@player) do |f| %>
    <div class="form-card">
      <%= f.error_notification %>
      <% if f.object.errors[:base].present? %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence %>
      <% end %>

      <div>
        <%= f.input :name, label: 'Nome', input_html: {class: "rounded-3", maxlength: "50"} %>
        <%= f.input :gender, label: 'Sexo', collection: [ "Feminino", "Masculino" ], input_html: { class: "rounded-3" } %>
        <% if action_name == "edit" %>
          <%= f.input :sets_won, label: 'Pontos', input_html: {class: "rounded-3", maxlength: "50"} %>
          <%= f.input :games_won, label: 'Games Ganhos', input_html: {class: "rounded-3", maxlength: "50"} %>
          <%= f.input :games_lost, label: 'Games Perdidos', input_html: {class: "rounded-3", maxlength: "50"} %>
        <% end %>
      </div>

      <div class="form-btns">
          <%= f.submit "Salvar", class: "form-btns-inputs me-2", name: "confirm" %>
          <% if action_name != "edit" %>
            <%= f.submit "Salvar e criar novo jogador", class: "form-btns-inputs me-2", name: "confirm_and_create" %>
          <% end %>
          <%= link_to "Voltar", players_path %>
      </div>
    </div>
  <% end %>
</section>
