<%= form_with model: [@match, @play], local: true do |f| %>
  <div>
    <%= f.label :play_number, "Número do Play" %>
    <%= f.number_field :play_number %>
  </div>

  <h3>Jogadores</h3>

  <%= f.fields_for :play_players do |play_player_fields| %>
    <div class="player-fields">
      <div>
        <%= play_player_fields.label :player_id, "Jogador" %>
        <%= play_player_fields.collection_select :player_id, Player.all, :id, :name, prompt: "Selecione um Jogador" %>
      </div>
      <div>
        <%= play_player_fields.label :games_won, "Games Ganhos" %>
        <%= play_player_fields.number_field :games_won %>
      </div>
    </div>
  <% end %>

  <%= f.submit "Salvar Play" %>
<% end %>
