<div class="filters">
  <%= form_with url: root_path, method: :get, local: false, data: { turbo_frame: "players" } do %>
    <!-- Dropdown para filtro de Mês -->
    <select name="month" class="shadow-sm" onchange="this.form.requestSubmit()">
      <option value="">Todos os meses</option>
      <% Date::MONTHNAMES.compact.each_with_index do |month, index| %>
        <option value="<%= index + 1 %>" <%= "selected" if params[:month].to_i == index + 1 %>><%= month %></option>
      <% end %>
    </select>

    <!-- Dropdown para filtro de Ano -->
    <select name="year" class="shadow-sm" onchange="this.form.requestSubmit()">
      <option value="">Todos os anos</option>
      <% (2024..Date.current.year).each do |year| %> <!-- Ajuste o intervalo de anos conforme necessário -->
        <option value="<%= year %>" <%= "selected" if params[:year].to_i == year %>><%= year %></option>
      <% end %>
    </select>

    <%# <input type="submit" value="Filtrar" class="shadow-sm"> %>
  <% end %>
</div>
