<%= render 'shared/menu_options' %>

<section id="prime" class="table-players" data-controller="sections-home">

  <div id="options">
    <%# Partidas %>
   <%= link_to 'Criar novo jogador', new_player_path, class:"btn btn-warning rounded-4 text-white" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sexo</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @players&.each do |player| %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.gender %></td>
          <td><%= link_to 'Editar', edit_player_path(player), class: "opt-color" %>
          /
          <%= link_to 'Excluir', player_path(player), class: "opt-color", data: { turbo_method: :delete, turbo_confirm: "Are you sure? This action is irreversible." } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  </div>
</section>

<div class="pagination-container d-flex justify-content-end mt-2 mb-2">
  <%= paginate @players, theme: 'default', window: 2 %>
</div>
