<section>
  <h4>Partida <%= @match.id %></h4>
    <%= link_to 'Criar novo play', new_match_play_path(@match) %>
    <%= link_to "Voltar", root_path, class: "todo-btns__btn shadow-sm" %>
    <% if @plays %>
      <% @plays&.each_with_index do |play, i| %>
        <div class="d-flex mt-2">
          <p class="me-2">Partida n. <%= i + 1 %></p>
          <p class="me-2">Dupla 1: <%= play.play_players[0].player.name  %> e <%= play.play_players[1].player.name %></p>
          <p class="me-2">Games: <%= play.play_players[0].games_won %> x <%= play.play_players[2].games_won %></p>
          <p class="me-2">Dupla 2: <%= play.play_players[2].player.name %> e <%= play.play_players[3].player.name %></p>
          <%= link_to 'Editar', edit_match_play_path(@match, play) %>
          <%= link_to 'Excluir', match_play_path(@match, play), data: { turbo_method: :delete, turbo_confirm: "Are you sure? This action is irreversible." } %>
        </div>
      <% end %>
    <% end %>
</section>
